<div class="messages-box">
  <div class="list-group rounded-0">
    <a
      class="list-group-item list-group-item-action rounded-0"
      style="cursor: pointer"
    >
      <div class="media">
        <div class="media-body ml-4">
          <!-- <div class="d-flex align-items-center justify-content-between mb-1"> -->
          <!-- <label for="nameInput">Search:</label>
            <input id="nameInput" [formControl]="nameFilter" />
            <select>
              <option *ngFor="let name of filteredNames" [value]="name">
                {{ name }}
              </option>
            </select> -->
          <!-- </div> -->
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                placeholder="name"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />

              <mat-autocomplete
                class="abso"
                #auto="matAutocomplete"
                (optionSelected)="onOptionSelected($event)"
              >
                <mat-option
                  *ngFor="let option of filteredOptions | async; track: option"
                  [value]="option"
                  >{{ option }}</mat-option
                >
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
    </a>
    <a
      class="list-group-item list-group-item-action rounded-0"
      style="cursor: pointer"
    >
    </a>
  </div>
</div>
