.about {
  padding: 0 30px ;
}
.navigator{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 30px;
  background-color: #000000af;
  color: #ffffff;
  margin-bottom: 75px;
}
.navigator a{
  color: white;

}
.navigator p{
 margin: 0;
 color: #b3b3b3;
 font-weight: bold;

}

.aboutHeader {
  margin-bottom: 50px;
  position: relative;
  width: fit-content;
  /* background-color: chartreuse; */
}
.aboutFirm {
  padding-bottom: 50px;
}
.aboutHeader::after {
  content: "";
  width: 25px;
  height: 4px;
  background-color: #cc8800;
  position: absolute;
  top: 50%;
  right: -50px;
  z-index: 10;
  transform: translate(0px, -50%);
}

.image {
  width: fit-content;
  margin-right: 25px;
  margin-bottom: 25px;
  float: left;
}
.image img {
  width: 100%;
}
.skill {
  margin-bottom: 40px;
}
.skill p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: rgb(179, 179, 179);
}
.line {
  width: 100%;
  height: 7px;
  background-color: #a7a7a733;
  position: relative;
  z-index: 10;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #cc8800;
  border-radius: 3px;
  z-index: 20;

  /* transition-duration: 1s;
  transition-delay: 2s;
  transition-timing-function: linear; */
}
.overlay1 {
  animation: widthVala 1s forwards;
  animation-delay: 1s;
}
.overlay2 {
  animation: widthValb 1.2s forwards;
  animation-delay: 1.2s;
}
.overlay3 {
  animation: widthValc 1.5s forwards;
  animation-delay: 1.4s;
}
.overlay4 {
  animation: widthVald 1.7s forwards;
  animation-delay: 1.6s;
}

@keyframes widthVala {
  0% {
    width: 0%;
  }
  100% {
    width: 96%;
  }
}

@keyframes widthValb {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes widthValc {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes widthVald {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

.percent {
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 40;
  font-weight: bold;
}

@media (max-width: 546px) {
  .image {
    float: none;
    margin: auto;
    margin-bottom: 25px;
  }
  .cont {
    text-align: center;
  }
}
/* ******************************** */

.ourRules {
  padding: 75px 30px ;
  /* border-top: 2px solid #abb8c3; */
  border-bottom: 2px solid #abb8c3;
  background-image: url("../../assets/about/image1.jpg");
  background-position: center;
  background-size: cover;
  /* background-color: aquamarine; */
}
.ourRulHead {
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  width: fit-content;
  /* background-color: chartreuse; */
}
.ourRulHead::before {
  content: "";
  width: 25px;
  height: 4px;
  background-color: #cc8800;
  position: absolute;
  top: 50%;
  left: -50px;
  z-index: 10;
  transform: translate(0%, -50%);
}
.ourRulHead::after {
  content: "";
  width: 25px;
  height: 4px;
  background-color: #cc8800;
  position: absolute;
  top: 50%;
  right: -50px;
  z-index: 10;
  transform: translate(0px, -50%);
}


.circle .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .number p {

  position: relative;
  top:20px;
  left: 5px;
  font-size: 2rem;
  font-weight: bold;
  transform: rotate(90deg);

}
.circle .number .perMark {
  font-size: 1.3rem;
}

.circle {
  color: black;
  width: 180px;
  height: 180px;
  position: relative;
  /* background-color: chartreuse; */
  transform: rotate(-90deg);
}

.circle svg {
  position: relative;
  width: 180px;
  height: 180px;
  
  
}
.circle svg circle {
  width: 180px;
  height: 180px;
  fill: none;
  stroke-width: 7;
  stroke: #000;
  transform: translate(20px, 25px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}
.circle svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #abb8c3;
}
.circle1.active svg circle:nth-child(2) {
  /* stroke-dashoffset: 220; */
  stroke-dashoffset: 40;
  stroke: #cc8800;
  animation: animCircle1 2s;
}
.circle2.active svg circle:nth-child(2) {
  /* stroke-dashoffset: 220; */
  stroke-dashoffset: 65;
  stroke: #cc8800;
  animation: animCircle2 2s;

}

.circle3.active svg circle:nth-child(2) {
  /* stroke-dashoffset: 220; */
  stroke-dashoffset: 150;
  stroke: #cc8800;
  animation: animCircle3 2s;

}
.circle4.active svg circle:nth-child(2) {
  /* stroke-dashoffset: 220; */
  stroke-dashoffset: 220;
  stroke: #cc8800;
  animation: animCircle4 2s;

}
.circle5.active svg circle:nth-child(2) {
  /* stroke-dashoffset: 220; */
  stroke-dashoffset: 100;
  stroke: #cc8800;
  animation: animCircle5 2s;

}

@keyframes animCircle1 {
  0%{
    stroke-dashoffset: 440;
  }
  100%{
    stroke-dashoffset: 40;
  }
}

@keyframes animCircle2 {
  0%{
    stroke-dashoffset: 440;
  }
  100%{
    stroke-dashoffset: 65;
  }
}

@keyframes animCircle3 {
  0%{
    stroke-dashoffset: 440;
  }
  100%{
    stroke-dashoffset: 150;
  }
}

@keyframes animCircle4 {
  0%{
    stroke-dashoffset: 440;
  }
  100%{
    stroke-dashoffset: 220;
  }
}

@keyframes animCircle5 {
  0%{
    stroke-dashoffset: 440;
  }
  100%{
    stroke-dashoffset: 100;
  }
}


.percTitle::selection{
background-color: #cc8800;
color: white;
}
