


<div class="userProfile mt-5 pb-5">
  <div class="container border border-2 border-secondary">
    <div class="headerUser">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
          <div class="leftPro d-flex align-items-center">
            <div class="image me-3">
              <div class="icon" (click)="openWindow('image')">
                <i class="fa-solid fa-pen"></i>
              </div>
              <img [src]="image1" alt="" />
              <div class="acvitPar">
                <div class="iconActive"></div>
              </div>
              <div class="modal-dialog modal-dialog-centered"></div>
            </div>
            <div class="name">
              <h5>Ahmed</h5>
              <div class="icon" (click)="openWindow('name')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">
          <!-- <div class="btnX text-center">
            <button type="button" class="btn btn-outline-success me-3">
              Public View
            </button>
            <button type="button" class="btn btn-success">
              Public Setting
            </button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="">
      <div class="row">
        <div class="titleAndPrice col-md-12 border border-1 border-secondary">
          <h4 class="text-center">My Information</h4>
          <div class=" ">
            <div class="password mb-3">
              <h5>Password</h5>

              <div class="icon" (click)="openWindow('password')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div>
            <!-- <div class="address mb-3">
              <h5>Address</h5>
              <div class="icon" (click)="openWindow('address')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div> -->
            <div class="mobile mb-3">
              <h5>Mobile</h5>
              <div class="icon" (click)="openWindow('mobile')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group">
        <h4 class="text-center mt-4">My Groups as Admin</h4>
        <ng-container *ngIf="adminGroupsList">
          <!-- <h1 *ngFor="let group of user.groups; index as index">
            {{ group.name }}
          </h1> -->
          <button
            *ngFor="let group of adminGroupsList; index as index"
            class="nav-link"
            [class.active]="index == xindex"
            [id]="'v-pills-' + index + '-tab'"
            data-bs-toggle="pill"
            [data-bs-target]="'#v-pills-' + index"
            type="button"
            role="tab"
            (click)="changeIndex(index)"
            [aria-controls]="'v-pills-home' + index"
            [aria-selected]="index == xindex ? true : false"
          >
            <i class="fa-solid fa-people-group me-2"></i>
            <span>{{ group.name }}</span>
          </button>
        </ng-container>
      </div>
      <div class="group">
        <h4 class="text-center mt-4">My subscripn Groups</h4>
        <ng-container *ngIf="subscripGroup">
          <!-- <h1 *ngFor="let group of user.groups; index as index">
            {{ group.name }}
          </h1> -->
          <button
            *ngFor="let group of subscripGroup; index as index"
            class="nav-link"
            [class.active]="index == xindex"
            [id]="'v-pills-' + index + '-tab'"
            data-bs-toggle="pill"
            [data-bs-target]="'#v-pills-' + index"
            type="button"
            role="tab"
            (click)="changeIndex(index)"
            [aria-controls]="'v-pills-home' + index"
            [aria-selected]="index == xindex ? true : false"
          >
            <i class="fa-solid fa-people-group me-2"></i>
            <span>{{ group.name }}</span>
          </button>
        </ng-container>
      </div>
      <div class="myLawers">
        <h4 class="text-center mt-4">My Lawers</h4>
        <div class="allLawers mt-5 row">
          <ng-container *ngFor="let user of usersList; index as i">
           <div class=" mb-3 col-md-3">
            <div class="onLawer">
              <h5 class="text-center mb-3">Lawer-Name-{{ i + 1 }}</h5>
              <h6>Lawer-Title-{{ i + 1 }}</h6>
              <h6>Lawer-price-{{ i + 1 }}</h6>
              
            </div>
           </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>


</div>















