<div class="register pt-4 pb-5">
    <div class="container">

        <div
        class="formContainer m-auto col-11 col-md-8 col-lg-5 p-4 rounded-1 "
      >
        <h5 class="text-center">Register</h5>
        <form action="#" method="POST">
          <div class="mb-1">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              aria-describedby="nameHelp"
            />
            <!-- <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>
          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <!-- <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>
          <div class="mb-1">
            <label for="age" class="form-label">Age</label>
            <input
              type="number"
              class="form-control"
              id="age"
              name="age"
              aria-describedby="ageHelp"
            />
            <!-- <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>
          <div class="mb-1">
            <label for="mobile" class="form-label">Mobile</label>
            <input
              type="number"
              class="form-control"
              id="mobile"
              name="mobile"
              aria-describedby="mobileHelp"
            />
            <!-- <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div> -->
          </div>
          <div class="mb-1">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
            />
          </div>
          <div class="mb-1">
            <label for="confirmPass" class="form-label">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              name="ConfirmPassword"
              id="confirmPass"
            />
          </div>
          <div class="mb-1 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btnSubmit">Submit</button>
        </form>
    
        <div class="mt-4 haveAcount">
          <p class="text-center mt-4">
            Have Already Acount?
            <a class="" routerLink="/login">Login</a>
          </p>
        </div>
      </div>
    </div>
</div>
